<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DistanceMin" value="0" />
		<add key="DistanceMid" value="400000" />
		<add key="DistanceMax" value="1250000" />

		<add key="FuelMin" value="0" />
		<add key="FuelMid" value="50" />
		<add key="FuelMax" value="100" />

		<add key="WearMin" value="0" />
		<add key="WearMid" value="50" />
		<add key="WearMax" value="100" />

		<add key="DesirabilityMin" value="0" />
		<add key="DesirabilityMid" value="50" />
		<add key="DesirabilityMax" value="100" />
	</appSettings>
</configuration>
